body {
   font-family: sans-serif;
   box-sizing: border-box;
}

.slider {
   width: 640px;
   height: 360px;
   margin: 30px auto;
   overflow: hidden;
}

.slider-box {
   width: calc(640px * 6);
   display: flex;
   transform: translateX(0);
   transition: .8s ease-in-out;
  
}

.slide-img {
   width: 640px;
   height: 360px;
   object-fit: cover;
   object-position: center;
   position: relative;
}

.btn {
   border: none;
   font-family: inherit;
   font-size: 14px;
   width: 110px;
   padding: 10px 20px;
   border-radius: 20px;
   background-color: #60B1EF;
   color: #fff;
   transition: .3s;
   position: absolute;
}

.btn:hover {
   background-color: #3499e6;
}

.btn:active {
   background-color: #0b75c6;
}

.prev {
   top: 195px;
   left: 15%;
}

.next {
   top: 195px;
   right: 15%;
}