:root {
   /* Темная тема */
   --light-hover-color: #f26522;
   --light-text-color: #fff;
   --dark-bg: url('./img/banner_bg.jpg');
}

body.dark {
   color: var(--light-text-color);
}

.dark .banner .logo-box {
   background: url("./img/logo.png") no-repeat;
}

.dark .banner .logo-box:hover {
   background: url("./img/logo-hover.png") no-repeat;
}

.dark #logo::after, .dark #logo::before {
   color: var(--light-text-color);
}

.dark .banner__wrapper {
   background: var(--dark-bg) no-repeat;
   background-size: cover;
}

.dark #logo:hover::before, .dark #logo:hover::after {
   color: var(--light-hover-color);
}

.dark .banner__link:hover {
   color: var(--light-hover-color);
}

.dark .details {
   background-color: var(--light-hover-color);
}

.dark .banner__item:hover .banner__item-text {
   color: var(--light-hover-color);
}

.dark .theme-btn:hover {
   background-color: var(--light-hover-color);
   color: var(--light-text-color);
}