@import url('./dark.css');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* светлая тема */
  color: rgb(71, 206, 105);
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1030px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

.banner {
  height: 100vh;
}

.banner__wrapper {
  background-size: cover;
  background-position: center;
  /* светлая тема */
  background-image: url('./img/white-banner_bg.jpeg');
  background-repeat: no-repeat;
}

.banner__header {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
}

.banner .logo-box {
  position: relative;
  background-position: center;
  height: 47px;
  width: 53px;
  /* светлая тема */
  background: url("./img/logo-black.png") no-repeat;
}

.banner .logo-box:hover {
  background-position: center;
  position: relative;
  transition: 0.2s;
  /* светлая тема */
  background: url("./img/logo-hover-green.png") no-repeat;
}

.banner .logo-box::after, .banner .logo-box::before {
  position: absolute;
  display: block;
  left: 64px;
  font-weight: bold;
  /* светлая тема */
  color: #000;
}

.banner .logo-box::after {
  content: "MILAN";
  font-size: 29px;
  line-height: 29px;
  top: 0;
}

.banner .logo-box::before {
  content: "HOLIDAYS";
  bottom: 0;
  left: 64px;
}

.banner .logo-box:hover::before, .banner .logo-box:hover::after {
  transition: 0.3s;
  /* Светлая тема */
  color: rgb(17, 184, 17);
}

.banner__link {
  display: block;
  text-align: right;
  transition: 0.3s;
}

.banner__link:hover {
  /* Светлая тема */
  color: rgb(17, 184, 17);
}

.banner__email {
  margin-bottom: 19px;
}

.banner__list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 35px;
}

.banner__item {
  position: relative;
}

banner__item:hover .banner__item-text {
  color: rgb(17, 184, 17);
}

.banner__img {
  display: block;
}

.banner__item-text {
  text-align: center;
}

.banner .footer {
  margin-top: 48px;
}

.banner .footer__text {
  text-align: center;
  padding: 15px 0;
}

.details {
  display: none;
  width: 300px;
  height: 55px;
  position: absolute;
  bottom: 54px;
  left: 0;
  right: 0;
  /* Светлая тема */
  color: #fff;
  background-color: rgb(17, 184, 17);
}

.from {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
}

.price {
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  margin: 0;
  padding: 25px 0 12px 16px;
  position: relative;
}

.price::before {
  content: "from";
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 10px;
}

.more {
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  margin-left: 128px;
  position: relative;
}

.more::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 2px;
  width: 5px;
  height: 10px;
  display: block;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.banner__item:hover .details {
  display: block;
}

/* Переключатель тем */

.theme-btn {
  height: 40px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: 40px;
  border: none;
}

.theme-btn:hover {
  font-family: inherit;
  /* Светлая тема */
  background-color: rgb(17, 184, 17);
  color: #fff;
}