body {
   font-family: sans-serif;
}

div {
   margin-bottom: 20px;
}

input {
   font-size: inherit;
   font-family: inherit;
   background-color: #F8F8F8;
   color: #444B76;
   border-radius: 20px;
   padding: 5px 10px;
}

.tag {
   border: 1px solid #444B76;
   display: inline-block;
   padding: 5px 10px;
   border-radius: 20px;
   color: #444B76;
   background-color: #F8F8F8;
}

.tag+.tag {
   margin-left: 15px;
}

.delete-btn {
   margin-left: 5px;
   border-radius: 50%;
   /* border: 1px solid #4c4657; */
   padding: 2px 5px;
   background-color: #444B76;
   color: white;
}