* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
   margin: 0;
   padding: 0;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

button {
   border: none;
   font-size: inherit;
   font-family: inherit;
}
body {
   margin: 0;
   padding: 0;
}
