* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

button {
  border: none;
  font-size: inherit;
  font-family: inherit; }

body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343; }

.container {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto; }

.bg-wrapper {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 54px;
  height: 100vh; }

.header {
  margin-bottom: 54px; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; }
  .header__bg-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .header .logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding: 18px 0;
    transition: color 0.3s; }
    .header .logo:hover {
      color: #3cb878; }
  .header__ui-elements {
    display: flex;
    align-items: center; }
  .header__icons {
    margin-right: 53px;
    min-width: 126px; }
    .header__icons svg {
      display: inline-block; }
      .header__icons svg path {
        transition: fill 0.3s; }
      .header__icons svg:hover path {
        fill: #3cb878; }
      .header__icons svg:not(:last-child) {
        margin-right: 24px; }
  .header__link {
    color: inherit;
    transition: color 0.3s; }
    .header__link:hover {
      color: #3cb878; }

.form__wrapper {
  background-color: #fff;
  width: 444px;
  margin: 0 auto;
  padding: 30px 60px 38px;
  position: relative; }
  .form__wrapper::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3cb878; }
.form__login-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
.form__name {
  font-size: 20px;
  line-height: 20px;
  color: #434343; }
.form__login {
  color: #3cb878;
  transition: color 0.3s; }
  .form__login:hover {
    color: #01813f;
    text-decoration: underline; }
.form__social-login-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  position: relative; }
  .form__social-login-block::before {
    content: "";
    position: absolute;
    width: 324px;
    height: 1px;
    background-color: #f2f2f2;
    bottom: -30px; }
  .form__social-login-block::after {
    position: absolute;
    content: "or";
    bottom: -35px;
    left: 153px;
    background-color: #fff;
    padding: 0 5px; }
.form .login__link {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s; }
  .form .login__link::before, .form .login__link::after {
    content: "";
    position: absolute; }
  .form .login__link::after {
    width: 1px;
    height: 28px;
    left: 49px;
    top: 11px;
    background: #0a162f;
    opacity: 0.1; }
.form .facebook__login {
  padding-left: 67px;
  padding-right: 22px;
  background-color: #305db8; }
  .form .facebook__login::before {
    background: url("./img/fb.svg") no-repeat;
    width: 13px;
    height: 24px;
    left: 17px;
    top: 12px; }
  .form .facebook__login:hover {
    background-color: #022263; }
.form .google__login {
  padding-left: 80px;
  padding-right: 27px;
  background-color: #df4a32;
  position: relative; }
  .form .google__login::before {
    background: url("./img/google.png") no-repeat;
    width: 30px;
    height: 19px;
    left: 12px;
    top: 16px; }
  .form .google__login:hover {
    background-color: #ab1f09; }
.form__input-block {
  margin-bottom: 20px; }
.form__input {
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 15px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-bottom: 15px;
  transition: 0.3s; }
  .form__input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: rgba(0, 0, 0, 0.21); }
  .form__input::placeholder {
    color: #bebebe; }
.form input[type="checkbox"] {
  display: none; }
.form label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 14px;
  user-select: none; }
.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2; }
.form__checkbox:checked + label:after {
  content: "";
  position: absolute;
  background-image: url("./img/check.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 0;
  left: 3px; }
.form .agreement-link {
  color: #3cb878;
  transition: 0.3s; }
  .form .agreement-link:hover {
    color: #01813f;
    border-bottom: 1px solid #01813f;
    padding-bottom: 3px; }
.form__btn {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  padding: 16px 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s; }
  .form__btn:hover {
    background-color: #01813f; }

/*# sourceMappingURL=style.css.map */
