table {
   border-collapse: collapse;
}

td {
   display: inline-block;
   width: 15px;
   height: 15px;
   border: 1px solid grey;
}

.on {
   background-color: #fff;
}

.off {
   background-color: #000;
}

.invert td.on {
   background-color: #000;
}

.invert td.off {
   background-color: #fff;
}